<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Slider</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>

  <body>
    <div id="app">
      <div class="container">
        <div class="slider-wrapper" tabindex="0">
          <!-- v-for="(slide, i) in slides" ciclare così da poter ciclare img, titoli e testi -->

          <!-- v-show="(currentImg === i)" così da nascondere le img che hanno un indice diverso  -->
          <div
            v-for="(slide, i) in slides"
            v-show="(currentImg === i)"
            class="item"
          >
            <img :src="slide.image" alt="Spiderman" />
            <div class="text">
              <h3>{{slide.title}}</h3>
              <p>{{slide.text}}</p>
            </div>
          </div>
          <div class="thumbs">
            <div @click="prevBtn" class="prev"></div>
            <div @click="nextBtn" class="next"></div>

            <!-- v-for="(slide, i) in slides" fare un altro ciclo perchè il primo for creato non è più figlio e quindi rifarlo così da poter ciclare le foto della thumb  -->

            <!-- ":class="currentImg === i ? `active`: ``" se currentImg è uguale all'indice, dai classe active altrimenti non dare niente  -->
            <div
              v-for="(slide, i) in slides"
              @click="bonusBtn(i)"
              class="thumb"
              :class="currentImg === i ? `active`: ``"
            >
              <img :src="slide.image" alt="Svezia" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/script.js"></script>
  </body>
</html>
